*{margin: 0;}

.header {
    display:flex;
    justify-content:start;
    align-items: center;
    gap:10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 80%; }

.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:10px;
    padding: 4px;
}

.not-loading{
    display:none;
}
.loading{
    display:block;
}